header{
	margin-left: 10px;
	background-color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	background-image: url("../images/hbnb-header.png");
	background-repeat: no-repeat;
	color:  #404040;
	background-position: left center;
	background-size: contain;
	padding-left: 73px;
	font-size: 40px;
	display: flex;
	align-items: center;
}
